@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Sansita+Swashed&display=swap');
:root {
  --black: #24252a;
  --blue: #0088a9;
  --pink: #cb2d6f;
  --white: #edf0f1;
  --yellow: #eae7dc;
  --overlay: rgba(0, 0, 0, 0.6);
  --golden: #cc9543;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  min-height: 100vh;
  background: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-size: 100%;
}

#content {
  background: var(--overlay);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  color: var(--white);
  background-color: rgba(35, 36, 41, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  user-select: none;
}

header h2 {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-link {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  color: var(--golden);
}

.nav-link:active {
  color: var(--white);
  cursor: default;
}

main {
  color: var(--white);
  flex-grow: 1;
  font-size: 1.5rem;
}

main h1 {
  font-family: "Sansita Swashed",sans-serif;
}

.main-home {
  max-width: 700px;
  height: 300px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.main-home p {
  font-size: 1.3rem;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu h1{
  margin-bottom: 30px;
}

.wrapper {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--overlay);
  align-items: center;
  padding: 10px 1%;
}

.grid-container {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 150px;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  height: 100%;
  text-align: center;
}

.menu-item img {
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}

.about {
  max-width: 600px;
  min-width: 376px;
  margin: 20px;
  padding: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--overlay);
}

.about p {
  padding: 20px 0px;
}

.about h1 {
  font-family: "Sansita Swashed", sans-serif;
}

.order-button {
  width: 150px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  margin: 30px 0px;
  transition: all 0.4s ease;
}

.order-button:hover {
  background: white;
  color: black
}

.order-button:active {
  background: transparent;
  color: var(--white);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: var(--white);
  background-color: var(--black);
}

footer p {
  line-height: 60px;
  text-align: center;
}

footer a {
  color: var(--golden);
}

.fade {
  animation: fade-in 0.8s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width:600px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 1rem;
  }

  .wrapper {
    padding: 10px 6%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: (6, 1fr);
    max-width: 400px;
  }

  .menu-item {
    font-size: 0.85rem;
  }

  .menu-item img {
    width: 180px;
  }

  .nav-link {
    padding: 10px 20px;
  }
}

@media screen and (max-width:500px) {
  .main-about {
    font-size: 92%;
  }

  .about {
    min-width: 0px;
  }
}

@media screen and (max-width:400px) {
  main {
    font-size: 1.2rem;
  }
}

