@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --black: #24252a;
  --blue: #0088a9;
  --pink: #cb2d6f;
  --white: #edf0f1;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#content {
  height: 100vh;
  width: 100vw;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header {
  background-color: rgba(35, 36, 41, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 25px 10%;
  user-select: none;
}

header a {
  text-decoration: none;
  color: var(--white);
}

.nav-tabs {
  list-style: none;
}

.nav-tab {
  display: inline-block;
  color: var(--white);
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav-tab:hover {
  color: var(--blue);
}

.nav-tab:active {
  color: var(--white);
  cursor: default;
}

.active {
  text-decoration: underline;
}

.black-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
